.DS_Store
Session.vim
build/
main/.DS_Store
main/backup/
main/build/
main/gpio.c
main/gpio.h
main/myi2c.c
main/myi2c.h
main/old_pimotorcontrol.c
main/pimotorcontrol.pdf
main/test_convert.c
main/text.exe
sdkconfig.old
worksheet.md
