.DS_Store
Session.vim
build/
main/.DS_Store
main/backup/
main/build/
main/claude_i2c_est.c
main/gpio.c
main/gpio.h
main/my_espnow.c
main/my_espnow.h
main/myi2c.c
main/myi2c.h
main/old_pimotorcontrol.c
main/pimotorcontrol.pdf
main/rmt.c
main/rmt.h
main/test_convert.c
main/text.exe
main/usb.c
main/usb.h
sdkconfig.old
worksheet.md
